/* Width */
$widthContainer: 75rem;
$widthSeries: calc(100% / 6);

/* Colors */
$commonBlue: #0282f9;
$white: #fff;
$black: #000;


@mixin list {
    list-style: none;
}

@mixin dFlex {
    display: flex;
}

@mixin link {
    text-decoration: none;
}